<div class="container pad-10px margin-top-20px black-border">
  <div class="row">
    <a ng-href="#!/userlist"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="col-xs-12">
      <div class="col-xs-2">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10">
        <div class="col-xs-12">
          <h1>{{user.name}}</h1> ({{user.username}})<br/>
          {{user.email}} <br/><br/>
        </div>
        <div class="col-xs-5">
          <b>Personal Info</b><br/>
          {{user.address.street}} {{user.address.suite}}<br/>
          {{user.address.city}}, {{user.address.state}} {{user.address.zipcode}}<br/>
          {{user.phone}}<br/>
          <a ng-href="{{user.website}}">{{user.website}}</a>
        </div>
        <div class="col-xs-5">
          <b>Work Info</b><br/>
          {{user.company.name}}<br/>
          {{user.company.catchPhrase}}
          {{user.company.bs}}
        </div>
      </div>
    </div>
  </div>
</div>